<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客发布</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(1, ${session.navQuery})" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" style="z-index: 15">
    <div class="ui container">
        <div class="ui secondary inverted stackable menu">
            <h2 class="ui header teal item">5162 后台管理</h2>
            <div class="ui floating dropdown m-item m-mobile-hide item">
                <i class="mini home icon"></i> &ensp;博客
                <div class="ui menu">
                    <a href="#" class="item" th:href="@{/admin/blogs}"><i class="blue mini user icon"></i>所有博客</a>
                    <a href="#" class="item" th:href="@{/admin/blogs/input}"><i class="blue mini power icon"></i>写博客</a>
                    <a href="#" class="item" th:href="@{/admin/logout}"><i class="blue mini power icon"></i>所有公告</a>
                    <a href="#" class="item" th:href="@{/admin/logout}"><i class="blue mini power icon"></i>写公告</a>
                </div>
            </div>
            <a href="#" th:href="@{/admin/types}" class="m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class="mini idea icon"></i> &ensp;分类</a>
            <a href="#" th:href="@{/admin/tags}" class="m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i class="mini tags icon"></i> &ensp;标签</a>
            <a href="#" th:href="@{/admin/blogsetting}" class="m-item item m-mobile-hide" th:classappend="${n==4} ? 'active'" th:if="${username} == '李扬'"><i class="mini tags icon"></i> &ensp;博客设置</a>
            <div class="right m-item menu m-mobile-hide">
                <a href="/" target="_blank" class="item"><i class="linkify icon"></i></a>
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/id/1/100/100?image=1" th:src="@{${avatar}}" alt="" class="ui avatar image" th:text="${username}">
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item" th:href="@{/admin/setting}"><i class="blue mini user icon"></i>个人资料</a>
                        <a href="#" class="item" th:href="@{/admin/logout}"><i class="blue mini power icon"></i>退出登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/input}" class="active teal item">发布</a>
            <a href="#" th:href="@{/admin/blogs/input}" class="item">列表</a>
        </div>
    </div>
</div>
<!--中间部分-->
<div class="m-container m-padded-tb-large">
    <div class="ui container">
        <form id="notice-form" action="#" th:object="${notice}" th:action="*{id}==null ? @{/admin/notices} : @{/admin/notices/{id}(id=*{id})}" method="post" class="ui form">
            <input type="hidden" name="published">
            <input type="hidden" name="id" th:value="*{id}">
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">公告标题</label>
                    <input type="text" name="title" placeholder="标题" th:value="*{title}">
                </div>
            </div>
            <div class="required field">
                <textarea name="content" th:text="*{content}" placeholder="公告内容..." maxlength="200"></textarea>
            </div>
            <!--错误信息显示-->
            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <div class="ui large buttons">
                    <button type="button" class="ui orange button" onclick="window.history.go(-1)">取消</button>
                    <div class="or"></div>
                    <button type="button" id="save-btn" class="ui blue button">保存</button>
                    <div class="or"></div>
                    <button type="button" id="publish-btn" class="ui teal button">发布</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<!--底部部分-->

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>-->
<!--/*/</th:block>/*/-->

<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });


    $("#save-btn").click(function () {
        $('[name="published"]').val(false);
        $('#notice-form').submit();
    });

    $("#publish-btn").click(function () {
        $('[name="published"]').val(true);
        $('#notice-form').submit();
    });

    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'title',
                rules: [{
                    type: 'empty',
                    prompt: '标题： 请输入博客标题'
                }],
            },
            content:{
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '公告：请输入博客内容'
                }]
            },
            description:{
                identifier: 'description',
                rules: [{
                    type: 'empty',
                    prompt: '公告：请输入博客内容'
                }]
            },
        }
    });
</script>
</body>
</html>